.section1{
    display: flex;
    width: 100%;
    height: 450px;
    background-color: black;
    /* padding: 5rem; */
}
.backimg{
    width: 100%;
    height: 100%;
}
body{
    margin:0;
    text-align: left;
    background-color: blanchedalmond;
}

.section2 {
    background-color: blanchedalmond;
    /* height: 200px; */
    display: flex;
    justify-content: center;
    /* padding: 5px; */
}
.text1{
    font-size: 40px;
    width: 80%;
}

.section3{
    background-color: blanchedalmond;
    padding-top: 40px;
    padding-bottom: 60px;
}
